name: Flutter iOS Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS Frameworks
        run: flutter build ios --release --no-codesign

      - name: Create IPA Manually
        run: |
          mkdir -p build/ios/iphoneos/Payload
          cp -r build/ios/iphoneos/Runner.app build/ios/iphoneos/Payload
          cd build/ios/iphoneos
          zip -qq -r -9 Wifi_Drip_Irrigation.ipa Payload

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter-ipa
          path: build/ios/iphoneos/*.ipa
